@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,500;1,600;1,700;1,800&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    --card-color: #181a1b; 
    --bg-color:#1c1e1f;
    --divider: #292c2e;
    --user-img-border: #464646;
    --roundedcard: 10px;
    --smalltextcolor: #9d9588;
    --bigtextcolor: #bab4ab;
    --sidebarcolor: #828490;
    --logocolor: #e8e6e3;
  }
  body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: white;
  }
  a, i {
    color: white;
  }
  ul[role='list'],
  ol[role='list'], li, ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  html:focus-within {
    scroll-behavior: smooth;
  }

.main-grid {
    display: grid;
    grid-template-columns: 300px minmax(500px, 1fr);
    grid-template-rows: 1fr;
    min-width: 500px;
}

#header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0));
}

#header h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 70px;
  letter-spacing: .2em;
  margin: 0;
}
#header h3 {
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  letter-spacing: .15em;
  margin: 0;
}

#bookholder {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 20px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
}

#bookinfo, #takebook {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 15px;
}

#formholder {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: fit-content;
}

.poster img {
  margin: 0;
  padding: 0;
  border-radius: 1px;
  border-style: solid;
  object-fit: cover;
  height: 440px;
}

.book {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .85) 35%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.5));
    gap: 10px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.book h2, .book h3, .book p, .book button {
  margin: 0;
  padding: 0;
}
.book button {
  margin-bottom: 10px;
}
.book h2, .book h3 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 300px;
}

.poster:hover .book {
  opacity: 1;
}

/* you can affect effects/properties on other classes/elements with modification properties of a different element */

.readBox {
    display: flex;
    gap: 15px;
}

.cover {
    max-width: 326px;
    padding-left: 15px;
    padding-right: 15px;
}